<div class="main groups-garbage">
  <div class="container-fluid">
    <div class="row">
      <ul class="nav nav-tabs col-lg-8 offset-lg-2">
        <li class="nav-item">
          <a href="#tab1" class="nav-link active" data-toggle="tab">ユーザー</a>
        </li>
        <li class="nav-item">
          <a href="#tab2" class="nav-link" data-toggle="tab">部屋</a>
        </li>
        <li class="nav-item">
          <a href="#tab3" class="nav-link" data-toggle="tab">クリップ</a>
        </li>
      </ul>

      <div class="tab-content col-lg-8 offset-lg-2">
        <div id="tab1" class="index-list users-index-list tab-pane active">
          <%= render :partial => "users" %>
        </div>

        <div id="tab2" class="index-list rooms-index-list tab-pane">
          <%= render :partial => "rooms" %>
        </div>

        <div id="tab3" class="index-list articles-index-list tab-pane">
          <%= render :partial => "articles" %>
        </div>
      </div>
    </div>
  </div>
</div>

