<div class="main groups-top">
  <div class="container">
    <div class="text-center">
      <h1 class="display-4 font-weight-bold">Clip Talk</h1>
      <p class="mb-1">ClipTalkはチーム全員でタスクを共有し、円滑な業務をサポートします。</p>
      <p>シンプルな機能で、だれにでも簡単に使えます。</p>
    </div>
  </div>
</div>
