<div class="main users-index">
  <div class="container-fluid">
    <div class="row">
      <div class="index-list users-index-list col-lg-8 offset-lg-2">
        <%= render :partial => "index_users" %>
      </div>
    </div>
  </div>
</div>

