<div class="main rooms-index">
  <div class="container-fluid">
    <div class="row">
      <div class="room-create-link col-lg-2 mb-3">
        <%= link_to("部屋を作る", new_room_path("0")) %>
      </div>

      <div class="index-list rooms-index-list col-lg-8">
        <%= render :partial => "rooms" %>
      </div>
    </div>
  </div>
</div>

