/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 * require_self
 */
 @import "bootstrap";

body {
  background-color: #f8f8f8;
}

header {
  background-color: #ccff33;
  height: 110px;
  position: static;
  .navbar-brand {
    font-size: 30px;
    .nav-link {
      padding: 0;
    }
  }
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  margin-top: 24px;
}

.form-heading {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px 20px;
}

.form-error {
  color: red;
}

.form-body {
  background-color: white;
  padding: 15px;
  border: solid 1px #c0c0c0;
  border-radius: 5px;
}

.nav-tabs {
  padding-left: 15px;
  border-bottom: 0;
}

.user-index {
  padding: 15px;
  text-align: center;
}

.edit-menu {
  display: flex;
  justify-content: start;
}

.inline-block {
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
}

.index-list {
  background-color: white;
  padding: 15px;
  border: solid 1px #f0f0f0;
  border-radius: 5px;
}

.index-item {
  position: relative;
  border-bottom: solid 1px #f0f0f0;
  padding: 9px;
}

.index-item img {
  margin-right: 5px;
}

.index-item a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
}

.index-item:hover {
  background-color: #f0f0f0;
}

.index-item-text {
  font-weight: bold;
  font-size: 18px;
  color: #007bff;
}

.index-list-mini {
  border-radius: 5px;
}

.index-item-mini {
  background-color: white;
  position: relative;
  border: solid 1px #f0f0f0;
  border-radius: 5px;
  padding: 9px;
}

.index-item-mini img {
  margin-right: 5px;
}

.index-item-mini a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
}

.index-item-mini:hover {
  background-color: #f0f0f0;
}

.index-item-text-mini {
  font-weight: bold;
  font-size: 15px;
  color: #007bff;
}

.index-list > nav {
  margin: 1rem;
}

.pagination {
  flex-wrap: wrap;
}

footer .nav-link {
  padding: 3px;
  margin-bottom: 6px;
}

.footer-left {
  padding-left: 0;
}

@media (min-width: 992px) {
  header {
    height: 60px;
  }

  .edit-menu {
    display: block;
  }

  .inline-block {
    display: block;
    margin: 0;
  }

  footer .nav-link {
    padding: 3px;
    margin-bottom: 0;
  }

  .footer-left {
    padding-left: 15%;
  }
}